@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/* Code for margin, padding and border originally from Code Institute */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.display-settings{
    display:flex;
    flex-direction: row;
}

#left-header-image {  
    height: 23.4375rem; 
    width: 23.4375rem;
    padding: 50px;
    border-radius: 50%;
    border: #BE2D2D solid 10px;    
    background: url('../images/creepy_church.jpg') no-repeat center center;
    margin: 2em;
}

#left-header-image, .width-setting {
    width: 55%;
}

#heading {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 6.5rem;
    padding-top: 20px;
    padding-bottom: 20px;    
}

body {
    font-family: Libre-Baskerville, Verdana, sans-serif;
    font-weight: 400;
    background-color: #3a3a3a;
    color: snow;
}

#slogan {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 20px;
    text-align: center;
}

nav {
    border-top: #BE2D2D 10px solid;
    border-bottom: #BE2D2D 10px solid;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav > ul > li {       
    color: snow;  
    display: inline-block;  
    font-size: 20px;
    padding: 10px 60px;
}

nav > ul > li a:visited, nav > ul > li a {
    color: snow;
    text-decoration: none;
}

nav > ul > li a:hover {
    text-decoration: underline;
}

/* Our tours section */

#our-tours {
    font-weight: 700;
    font-size: 4rem;
    padding-left: 350px;
    padding-top: 5px;
    padding-bottom: 10px; 
}

#ghost-image {
    height: 17.1875rem;
    width: 17.1875rem;
    border-radius: 50%;
    border: #BE2D2D solid 7px;
    background: url('../images/ghosts.jpg') no-repeat center center;
    margin: 2em;
}

#ghosts-stratford {
    padding-left: 50px;
    font-size: 3rem;
    padding-bottom: 10px;
}

#ghosts-stratford-info {
    padding-left: 50px;
    line-height: 0.75cm;
}

.width-setting {
    width: 30%;
}

#murder-image {
    height: 17.1875rem;
    width: 17.1875rem;
    border-radius: 50%;
    border: #BE2D2D solid 7px;
    background: url('../images/tower_of_bones.jpg') no-repeat center center;
    margin: 2em;
}

#murder-stratford {
    padding-right: 50px;
    font-size: 3rem;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#murder-stratford-info {
    padding-left: 50px;
    line-height: 0.75cm;
    padding-right: 50px;
}


/* About us section */

#about-us-heading {
    font-weight: 700;
    font-size: 3rem;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 10px; 
    
}

#us-image {
    height: 17.1875rem;
    width: 17.1875rem;
    border-radius: 50%;
    border: #BE2D2D solid 7px;
    background: url('../images/scary_faces.jpg') no-repeat center center;
    margin: 2em;
}   

#team-background {
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    line-height: 0.75cm;    
}

/* Sign up form section */

#sign-up-image {       
    height: 16.5625rem;
    width: 16.5625rem;
    border-radius: 50%;
    border: #BE2D2D solid 7px;
    margin-bottom: 20px;
    background: url('../images/skull_on_books.jpg') no-repeat center center; 
    padding-bottom: 15px;  
    margin: 2em;    
}

#sign-up-form {     
   padding-bottom: 15px;
   padding-left: 8%;
}

#sign-up-heading {
    padding-right: 50px;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

#sign-up-para {
    padding-right: 50px;
}

.sign-up-text {
    padding: 5px;
    margin: 10px 0;
    background-color: snow;
    border: black 2px solid;
}

#submit {
    padding: 10px;
    margin: 10px 0;
    font-weight: 700;
    background-color: snow;
    letter-spacing: 1px;
    color: black;
    border: black 3px solid;
}

#submit:hover {
    font-weight: 700;
    color: #BE2D2D;
    background-color: snow;
}

form > p {
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

form > p, label {
    color: snow;
}

/* Footer section */

footer {
    background-color: #BE2D2D;
    text-align: center;
}

.contact-info {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 10px;
    list-style-type: none;     
}

.social-media {
    font-size: 175%;
    list-style-type: none;
    display: inline;
    padding: 10px 100px;     
}

footer > ul {
    padding-bottom: 15px;
}

.social-media a:visited, .social-media a{
    color: snow;
}

/* Media queries */

/* For screens between 769 pixels and 1024 pixels  */

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #left-header-image {
        height: 250px;
        width: 250px;        
    }

    #right-header-title {
        width: 60%;
    }
    
    #heading {
        font-size: 4rem;
    }

    #our-tours {
        font-size: 3.5rem;
        padding-left: 200px;
    }
}

/* For screens between 481 pixels and 768 pixels  */

@media only screen and (max-width: 768px) and (min-width: 481px) {
    #left-header-image {
        height: 250px;
        width: 250px;
    }

    #heading {
        font-size: 3rem;
    }

    #slogan {
        font-size: 1.5rem;
    }
    
    #our-tours {
        font-size: 2.5rem;
        padding-left: 200px;
    }

    #ghosts-stratford {
        font-size: 2rem;
    }

    #ghost-image {
        height: 225px;
        width: 225px;
    }

    #murder-stratford {
        font-size: 2rem;
    }

    #murder-image {
        height: 225px;
        width: 225px;        
    }

    #about-us-heading {
        font-size: 2rem;
    }

    #us-image {
        height: 225px;
        width: 225px;
    }

    #sign-up-image {
        height: 240px;
        width: 240px;
        margin-bottom: 10px;
    }

    .contact-info {
        font-size: 1rem;
    }
}

/* For screens between 320 pixels and 480 pixels  */

@media only screen and (max-width: 480px) and (min-width: 320px) {
    #left-header-image {
        height: 175px;
        width: 175px;
    }

    #heading {
        font-size: 2.5rem;
    }

    #slogan {
        font-size: 1.75rem;
    }

    #our-tours {
        font-size: 2.5rem;
        padding-left: 75px;
    }

    #ghosts-stratford {
        font-size: 2rem;
    }

    #ghost-image {
        height: 275px;
        width: 275px;        
    }

    #murder-stratford {
        font-size: 2rem;
    }

    #murder-image {
        height: 275px;
        width: 275px;        
    }

    #about-us-heading {
        font-size: 2rem;
        padding-left: 75px;
    }

    #us-image {
        height: 275px;
        width: 275px;        
    }

    #sign-up-image {
        height: 240px;
        width: 240px;
        margin-bottom: 10px;
    }

    .contact-info {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }

    .social-media {
        padding: 20px;
    }
} 








