@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 600px;
    width: auto;
    color: snow;
    background-color: rgb(50, 50, 50);
    font-family: Libre Baskerville, Verdana, sans-serif;
    font-weight: 700;
    }

header > h1 {
    font-size: 5rem;
    letter-spacing: 3px;
    }

header >  nav > ul {
    font-size: xx-large;
    letter-spacing: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    }

body {
    font-family: Libre Baskerville, Verdana, sans-serif;
    font-weight: 400;
}

#our-tours {
    height: 600px;
    width: auto;
    color: rgb(50, 50, 50); 
    background-color: snow;
    }


footer {
    height: 100px;
    width: auto;
    color: snow;
    background-color: rgb(50, 50, 50);
}

