@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 600px;      
}

#left-header {
    padding-top: 20px;
    height: 600px;
    width: 40%;
    background-color: green;
    float: left;
}

#right-header {
    padding-top: 20px;    
    height: 600px;
    width: 60%;
    background-color: orange;
    float: right;
}

#header-image {
        height: 375px;
        width: 375px;
        padding: 50px;
        border-radius: 50%;
        border-style: solid;
        border-color: black;
        border-width: 10px;
        margin: 0 auto;
        position: relative;
        top: 60px;
        background: url('../images/graveyard.jpg') center center;        
        }
